@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono&family=Roboto:wght@100;300;400;500;900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B6EAF7;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #B8B3E9;
    border: 1px solid black;
    font-family: 'Roboto Mono', sans-serif;
}

.display-box {
    background-color: #C8EFF9;
    max-height: 110px;
    max-width: 293px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: end;
    border-radius: 5px;
    border: 1px solid black;
}

#display-main {
    padding: 0 15px 10px 15px;
    font-size: 50px;
}

#display-secondary {
    padding: 15px 15px 0 15px;
    font-size: 20px;
    color: #495159;
}



.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.operator-button,
.number-button,
.display-button,
#equals,
#decimal,
#change-axis {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 30px;
}

#equals {
    width: 145px;
    background-color: #D17B88;
}

.number-button,
#decimal {
    background-color: #E3B5CC;
}

.operator-button,
#change-axis {
    background-color: #D897B8;
}

.display-button {
    background-color: #D17B88;
}